In [57]:
def decorator(func):
    def wrapper(*keys,**kwargs):
        #do something
        return round(func(),3)
    return wrapper

In [58]:
import random
@decorator
def func():
    return random.random()

In [60]:
func()

0.331

In [28]:
import MySQLdb
DATABASE = {
    'host':'127.0.0.1',
    'database':'Examination',
    'user':'root',
    'password':'123456',
    'charset':'utf8'
}
#db=MySQLdb.connect(host='localhost',user='root',password='123456',db='Examination')
#等价于
#db=MySQLdb.connect('localhost','root','123456','Examination')
#等价于
db=MySQLdb.connect(**DATABASE)

### 游标

In [29]:
cursor=db.cursor()

In [31]:
sql="select * from student where id<5 limit 3"
cursor.execute(sql)
results=cursor.fetchall()
for row in results:
    print (row)

(1, 0, '男', '凌榭辉')
(2, 0, '男', '啊')
(3, 0, '男', '是')

In [25]:
print(results)

((1, 0, '男', '凌榭辉'),)

In [20]:
type(results)

tuple

In [33]:
type(cursor.execute(sql))

int

In [35]:
sql="insert into class (name) values('高一五班')"
cursor=db.cursor()
cursor.execute(sql)
cursor.execute(sql)
db.commit()

In [36]:
sql ="delete from class where name='高一五班'"
cursor=db.cursor()
cursor.execute(sql)
db.commit()

In [40]:
assert 10==20,'怎么可能'

AssertionError: 怎么可能

### 捕捉异常

In [53]:
try:
    a = 10
    b =a + 'hello'
except Exception as e:
    print(e)

unsupported operand type(s) for +: 'int' and 'str'

In [55]:
try:
    sql = "insert into class(name) values('高一十五班')"
    cursor=db.cursor()
    cursor.execute(sql)
    db.commit()
    #do something
   error = 10 + 'adsa'
    #print('高一十五班')
except Exception as e:
    print(e)
   # db.rollback()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)