人生苦短，我用python

In [1]:
# 新的数据库格式csv

In [4]:
import pandas as pd

In [10]:
df = pd.read_csv('C:/Users/Administrator/Desktop/notebook/data.csv',encoding = 'gb18030')

In [11]:
df = pd.read_csv('data.csv',encoding = 'gb18030')

In [12]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [13]:
df.all

<bound method DataFrame.all of    id  name class  score
0   1  wang  高一一班    100
1   2    li  高一二班    200>

In [15]:
import random

In [14]:
df.values

array([[1, 'wang', '高一一班', 100],
       [2, 'li', '高一二班', 200]], dtype=object)

In [16]:
import MySQLdb

In [39]:
random.randint(0,100)

10

In [50]:
DATABASE = {
    'host':'127.0.0.1',
    'database':'Examination',
    'user':'root',
    'password':'123456',
    'charset':'utf8'
}
def get_db(setting):
    return MySQLdb.Connect(**setting)
def insert(db,sql,n):
    cursor=db.cursor()
    cursor.execute(sql)
    results=cursor.fetchall()
    a=results
    for i in range(n):
        print(a[i][0],a[i][1],a[i][2])
        values="'{}',"*6+"'{}'"
        sql_values=values.format(a[i][0],a[i][1],a[i][2],random.randint(0,100),random.randint(0,100),random.randint(0,100),random.randint(0,100))
        sql="""insert into score(id,name,sex,math,en,yw,ty)
           values({})""".format(sql_values)
        print(sql)
        cursor.execute(sql)
        db.commit()

In [51]:
sql="select id,name,sex from student"
db=get_db(DATABASE)
insert(db,sql,5)

1 凌榭辉 男
insert into score(id,name,sex,math,en,yw,ty)
           values('1','凌榭辉','男','24','77','10','52')
2 啊 男
insert into score(id,name,sex,math,en,yw,ty)
           values('2','啊','男','34','74','14','94')
3 是 男
insert into score(id,name,sex,math,en,yw,ty)
           values('3','是','男','80','99','2','4')
4 的 男
insert into score(id,name,sex,math,en,yw,ty)
           values('4','的','男','51','16','73','98')
5 发 女
insert into score(id,name,sex,math,en,yw,ty)
           values('5','发','女','96','6','96','82')

In [79]:
df = pd.read_csv('score.csv')

### 排序

In [83]:
df.head(5)

   id name sex  math  en  yw  ty
0   1  凌榭辉   男    24  77  10  52
1   2    啊   男    34  74  14  94
2   3    是   男    80  99   2   4
3   4    的   男    51  16  73  98
4   5    发   女    96   6  96  82

In [60]:
df.sort_values(['math','en'])

   id name sex  math  en  yw  ty
0   1  凌榭辉   男    24  77  10  52
1   2    啊   男    34  74  14  94
3   4    的   男    51  16  73  98
2   3    是   男    80  99   2   4
4   5    发   女    96   6  96  82

### 访问

In [63]:
df.head()

   id name sex  math  en  yw  ty
0   1  凌榭辉   男    24  77  10  52
1   2    啊   男    34  74  14  94
2   3    是   男    80  99   2   4
3   4    的   男    51  16  73  98
4   5    发   女    96   6  96  82

In [65]:
# 按照索引去定位
df.loc[3]

id       4
name     的
sex      男
math    51
en      16
yw      73
ty      98
Name: 3, dtype: object

In [ ]:
索引

In [69]:
scores={
    'en':[90,78,89],
    'math':[64,78,45],
    'name':['wang','li','sun']
}
df = pd.DataFrame(scores,index=['one','two','three'])
df

       en  math  name
one    90    64  wang
two    78    78    li
three  89    45   sun

In [70]:
df.index

Index(['one', 'two', 'three'], dtype='object')

In [74]:
df.loc['one']

en        90
math      64
name    wang
Name: one, dtype: object

In [76]:
# 实实在在的所谓的第几行
df.iloc[0]

en        90
math      64
name    wang
Name: one, dtype: object

In [85]:
df.ix[0]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

id        1
name    凌榭辉
sex       男
math     24
en       77
yw       10
ty       52
Name: 0, dtype: object